---
name: nav-li-29
---

<li>
  <a href="#alerts-examples">Examples</a>
</li>
<li>
  <a href="#alerts-dismissable">Dismissable alerts</a>
</li>
<li>
  <a href="#alerts-links">Links in alerts</a>
</li>
