---
name: nav-li-24
---

<li>
  <a href="#input-groups-basic">Basic example</a>
</li>
<li>
  <a href="#input-groups-sizing">Sizing</a>
</li>
<li>
  <a href="#input-groups-checkboxes-radios">Checkbox and radios addons</a>
</li>
<li>
  <a href="#input-groups-buttons">Button addons</a>
</li>
<li>
  <a href="#input-groups-buttons-dropdowns">Buttons with dropdowns</a>
</li>
<li>
  <a href="#input-groups-buttons-segmented">Segmented buttons</a>
</li>
