---
name: nav-28
---

<a href="#list-group">List group</a>
<ul class="nav">
  <li>
    <a href="#list-group-basic">Basic example</a>
  </li>
  <li>
    <a href="#list-group-badges">Badges</a>
  </li>
  <li>
    <a href="#list-group-linked">Linked items</a>
  </li>
  <li>
    <a href="#list-group-contextual-classes">Contextual classes</a>
  </li>
  <li>
    <a href="#list-group-custom-content">Custom content</a>
  </li>
</ul>
