---
name: nav-20
---

<a href="#input-groups">Input groups</a>
<ul class="nav">
  <li>
    <a href="#input-groups-basic">Basic example</a>
  </li>
  <li>
    <a href="#input-groups-sizing">Sizing</a>
  </li>
  <li>
    <a href="#input-groups-checkboxes-radios">Checkbox and radios addons</a>
  </li>
  <li>
    <a href="#input-groups-buttons">Button addons</a>
  </li>
  <li>
    <a href="#input-groups-buttons-dropdowns">Buttons with dropdowns</a>
  </li>
  <li>
    <a href="#input-groups-buttons-segmented">Segmented buttons</a>
  </li>
</ul>
