---
name: nav-25
---

<a href="#alerts">Alerts</a>
<ul class="nav">
  <li>
    <a href="#alerts-examples">Examples</a>
  </li>
  <li>
    <a href="#alerts-dismissable">Dismissable alerts</a>
  </li>
  <li>
    <a href="#alerts-links">Links in alerts</a>
  </li>
</ul>
