---
name: nav-li
---

<li>
  <a href="../getting-started">Getting started</a>
</li>
<li>
  <a href="../css">CSS</a>
</li>
<li>
  <a href="../components">Components</a>
</li>
<li class="active">
  <a href="../javascript">JavaScript</a>
</li>
<li>
  <a href="../customize">Customize</a>
</li>
