---
name: nav-li-21
---

<li>
  <a href="#dropdowns-example">Example</a>
</li>
<li>
  <a href="#dropdowns-alignment">Alignment options</a>
</li>
<li>
  <a href="#dropdowns-headers">Headers</a>
</li>
<li>
  <a href="#dropdowns-disabled">Disabled menu items</a>
</li>
