---
name: nav-li-25
---

<li>
  <a href="#nav-tabs">Tabs</a>
</li>
<li>
  <a href="#nav-pills">Pills</a>
</li>
<li>
  <a href="#nav-justified">Justified nav</a>
</li>
<li>
  <a href="#nav-disabled-links">Disabled links</a>
</li>
<li>
  <a href="#nav-dropdowns">Using dropdowns</a>
</li>
