---
name: nav-li-6
---

<li>
  <a href="#type-headings">Headings</a>
</li>
<li>
  <a href="#type-body-copy">Body copy</a>
</li>
<li>
  <a href="#type-emphasis">Emphasis</a>
</li>
<li>
  <a href="#type-abbreviations">Abbreviations</a>
</li>
<li>
  <a href="#type-addresses">Addresses</a>
</li>
<li>
  <a href="#type-blockquotes">Blockquotes</a>
</li>
<li>
  <a href="#type-lists">Lists</a>
</li>
