---
name: nav-li-22
---

<li>
  <a href="#btn-groups-single">Basic example</a>
</li>
<li>
  <a href="#btn-groups-toolbar">Button toolbar</a>
</li>
<li>
  <a href="#btn-groups-sizing">Sizing</a>
</li>
<li>
  <a href="#btn-groups-nested">Nesting</a>
</li>
<li>
  <a href="#btn-groups-vertical">Vertical variation</a>
</li>
<li>
  <a href="#btn-groups-justified">Justified link variation</a>
</li>
