---
name: nav-li-9
---

<li>
  <a href="#js-individual-compiled">Individual or compiled</a>
</li>
<li>
  <a href="#js-data-attrs">Data attributes</a>
</li>
<li>
  <a href="#js-programmatic-api">Programmatic API</a>
</li>
<li>
  <a href="#js-noconflict">No conflict</a>
</li>
<li>
  <a href="#js-events">Events</a>
</li>
