---
name: nav-li-33
---

<li>
  <a href="#panels-basic">Basic example</a>
</li>
<li>
  <a href="#panels-heading">Panel with heading</a>
</li>
<li>
  <a href="#panels-alternatives">Contextual alternatives</a>
</li>
<li>
  <a href="#panels-tables">With tables</a>
</li>
<li>
  <a href="#panels-list-group">With list groups</a>
</li>