---
name: nav-li-30
---

<li>
  <a href="#progress-basic">Basic example</a>
</li>
<li>
  <a href="#progress-label">With label</a>
</li>
<li>
  <a href="#progress-alternatives">Contextual alternatives</a>
</li>
<li>
  <a href="#progress-striped">Striped</a>
</li>
<li>
  <a href="#progress-animated">Animated</a>
</li>
<li>
  <a href="#progress-stacked">Stacked</a>
</li>
