---
name: nav-19
---

<a href="#btn-dropdowns">Button dropdowns</a>
<ul class="nav">
  <li>
    <a href="#btn-dropdowns-single">Single button dropdowns</a>
  </li>
  <li>
    <a href="#btn-dropdowns-split">Split button dropdowns</a>
  </li>
  <li>
    <a href="#btn-dropdowns-sizing">Sizing</a>
  </li>
  <li>
    <a href="#btn-dropdowns-dropup">Dropup variation</a>
  </li>
</ul>
