---
name: nav-li-26
---

<li>
  <a href="#navbar-default">Default navbar</a>
</li>
<li>
  <a href="#navbar-forms">Forms</a>
</li>
<li>
  <a href="#navbar-buttons">Buttons</a>
</li>
<li>
  <a href="#navbar-text">Text</a>
</li>
<li>
  <a href="#navbar-links">Non-nav links</a>
</li>
<li>
  <a href="#navbar-component-alignment">Component alignment</a>
</li>
<li>
  <a href="#navbar-fixed-top">Fixed to top</a>
</li>
<li>
  <a href="#navbar-fixed-bottom">Fixed to bottom</a>
</li>
<li>
  <a href="#navbar-static-top">Static top</a>
</li>
<li>
  <a href="#navbar-inverted">Inverted navbar</a>
</li>
