---
name: nav-21
---

<a href="#nav">Navs</a>
<ul class="nav">
  <li>
    <a href="#nav-tabs">Tabs</a>
  </li>
  <li>
    <a href="#nav-pills">Pills</a>
  </li>
  <li>
    <a href="#nav-justified">Justified nav</a>
  </li>
  <li>
    <a href="#nav-disabled-links">Disabled links</a>
  </li>
  <li>
    <a href="#nav-dropdowns">Using dropdowns</a>
  </li>
</ul>
