---
name: nav-24
---

<a href="#thumbnails">Thumbnails</a>
<ul class="nav">
  <li>
    <a href="#thumbnails-default">Default example</a>
  </li>
  <li>
    <a href="#thumbnails-custom-content">Custom content</a>
  </li>
</ul>
