---
name: nav-23
---

<a href="#pagination">Pagination</a>
<ul class="nav">
  <li>
    <a href="#pagination-default">Default pagination</a>
  </li>
  <li>
    <a href="#pagination-pager">Pager</a>
  </li>
</ul>
