---
name: visible-xs-4
---

<div class="col-xs-6 col-sm-3">
  <span class="hidden-xs">Extra small</span>
  <span class="visible-xs">&#10004; Visible on x-small</span>
</div>
<div class="col-xs-6 col-sm-3">
  <span class="hidden-sm">Small</span>
  <span class="visible-sm">&#10004; Visible on small</span>
</div>
<div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-3">
  <span class="hidden-md">Medium</span>
  <span class="visible-md">&#10004; Visible on medium</span>
</div>
<div class="col-xs-6 col-sm-3">
  <span class="hidden-lg">Large</span>
  <span class="visible-lg">&#10004; Visible on large</span>
</div>
