---
name: input-group-6
---

<div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
</div>
<!-- /input-group -->
