---
name: form-group-8
---

<div class="form-group has-success has-feedback">
  <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
  <div class="col-sm-9">
    <input type="text" class="form-control" id="inputSuccess3">
    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
  </div>
</div>
