---
name: dropdown-header
---

<li role="presentation" class="dropdown-header">Dropdown header</li>
<li role="presentation">
  <a role="menuitem" tabindex="-1" href="#">Action</a>
</li>
<li role="presentation">
  <a role="menuitem" tabindex="-1" href="#">Another action</a>
</li>
<li role="presentation">
  <a role="menuitem" tabindex="-1" href="#">Something else here</a>
</li>
<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Dropdown header</li>
<li role="presentation">
  <a role="menuitem" tabindex="-1" href="#">Separated link</a>
</li>
