---
name: dropdown-menu-8
---

<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Dropdown
  <b class="caret"></b>
</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
  <li>
    <a href="#dropdown1" tabindex="-1" data-toggle="tab">@fat</a>
  </li>
  <li>
    <a href="#dropdown2" tabindex="-1" data-toggle="tab">@mdo</a>
  </li>
</ul>
