---
name: dropdown-menu-divider-7
---

<li>
  <a href="#one" tabindex="-1">one</a>
</li>
<li>
  <a href="#two" tabindex="-1">two</a>
</li>
<li class="divider"></li>
<li>
  <a href="#three" tabindex="-1">three</a>
</li>
