---
name: dropdown-menu-divider-27
---

<li>
  <a href="#">Action</a>
</li>
<li>
  <a href="#">Another action</a>
</li>
<li>
  <a href="#">Something else here</a>
</li>
<li class="divider"></li>
<li>
  <a href="#">Separated link</a>
</li>
<li class="divider"></li>
<li>
  <a href="#">One more separated link</a>
</li>
