---
name: dropdown-menu-5
---

<a id="drop5" role="button" data-toggle="dropdown" href="#">Dropdown 2
  <b class="caret"></b>
</a>
<ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Action</a>
  </li>
  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Another action</a>
  </li>
  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Something else here</a>
  </li>
  <li role="presentation" class="divider"></li>
  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Separated link</a>
  </li>
</ul>
