---
name: collapse-3
---

<div class="navbar-header">
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Project Name</a>
</div>
<div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
  <ul class="nav navbar-nav">
    <li>
      <a href="#fat">@fat</a>
    </li>
    <li>
      <a href="#mdo">@mdo</a>
    </li>
    <li class="dropdown">
      <a href="#" id="navbarDrop1" class="dropdown-toggle" data-toggle="dropdown">Dropdown
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop1">
        <li>
          <a href="#one" tabindex="-1">one</a>
        </li>
        <li>
          <a href="#two" tabindex="-1">two</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#three" tabindex="-1">three</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
