---
name: btn-12
---

<label class="btn btn-primary">
  <input type="checkbox">Option 1
</label>
<label class="btn btn-primary">
  <input type="checkbox">Option 2
</label>
<label class="btn btn-primary">
  <input type="checkbox">Option 3
</label>
