---
name: btn-toolbar-4
---

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
      Large button <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </div>
  <!-- /btn-group -->
</div>
<!-- /btn-toolbar -->
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
      Small button <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </div>
  <!-- /btn-group -->
</div>
<!-- /btn-toolbar -->
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      Extra small button <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </div>
  <!-- /btn-group -->
</div>
<!-- /btn-toolbar -->
