---
name: btn-22
---

<a class="btn btn-default" role="button">Left</a>
<a class="btn btn-default" role="button">Middle</a>
<div class="btn-group">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Dropdown <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="#">Action</a>
    </li>
    <li>
      <a href="#">Another action</a>
    </li>
    <li>
      <a href="#">Something else here</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="#">Separated link</a>
    </li>
  </ul>
</div>
