---
name: btn-20
---

<button id="btnGroupVerticalDrop4" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  Dropdown
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
  <li>
    <a href="#">Dropdown link</a>
  </li>
  <li>
    <a href="#">Dropdown link</a>
  </li>
</ul>
