---
name: btn-group-8
---

<div class="btn-group">
  <button type="button" class="btn btn-default">1</button>
  <button type="button" class="btn btn-default">2</button>

  <div class="btn-group">
    <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupDrop1">
      <li>
        <a href="#">Dropdown link</a>
      </li>
      <li>
        <a href="#">Dropdown link</a>
      </li>
    </ul>
  </div>
</div>
