---
name: btn-48
---

<button type="button" class="btn btn-default" tabindex="-1">Action</button>
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
  <span class="caret"></span>
  <span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu">
  <li>
    <a href="#">Action</a>
  </li>
  <li>
    <a href="#">Another action</a>
  </li>
  <li>
    <a href="#">Something else here</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#">Separated link</a>
  </li>
</ul>
