---
name: btn-19
---

<button id="btnGroupVerticalDrop3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  Dropdown
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop3">
  <li>
    <a href="#">Dropdown link</a>
  </li>
  <li>
    <a href="#">Dropdown link</a>
  </li>
</ul>
