---
name: table-17
---

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="width: 150px;">Event Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>affix.bs.affix</td>
      <td>This event fires immediately before the element has been affixed.</td>
    </tr>
    <tr>
      <td>affixed.bs.affix</td>
      <td>This event is fired after the element has been affixed.</td>
    </tr>
    <tr>
      <td>affix-top.bs.affix</td>
      <td>This event fires immediately before the element has been affixed-top.</td>
    </tr>
    <tr>
      <td>affixed-top.bs.affix</td>
      <td>This event is fired after the element has been affixed-top.</td>
    </tr>
    <tr>
      <td>affix-bottom.bs.affix</td>
      <td>This event fires immediately before the element has been affixed-bottom.</td>
    </tr>
    <tr>
      <td>affixed-bottom.bs.affix</td>
      <td>This event is fired after the element has been affixed-bottom.</td>
    </tr>
  </tbody>
</table>
