---
name: table-tbody-tr-td-10
---

<td>show.bs.dropdown</td>
<td>This event fires immediately when the show instance method is called. The toggling anchor element is available as the <code>relatedTarget</code> property of the event.</td>
