---
name: table-striped-tbody-tr-15
---

<tr>
  <td>slide.bs.carousel</td>
  <td>This event fires immediately when the <code>slide</code> instance method is invoked.</td>
</tr>
<tr>
  <td>slid.bs.carousel</td>
  <td>This event is fired when the carousel has completed its slide transition.</td>
</tr>
