---
name: table-tbody-tr-td
---

<td>backdrop</td>
<td>boolean or the string <code>'static'</code>
</td>
<td>true</td>
<td>Includes a modal-backdrop element. Alternatively, specify <code>static</code> for a backdrop which doesn't close the modal on click.</td>
