---
name: table-5
---

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="width: 150px;">Event Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>activate.bs.scrollspy</td>
      <td>This event fires whenever a new item becomes activated by the scrollspy.</td>
    </tr>
  </tbody>
</table>
