---
name: table-striped-tbody-tr-11
---

<tr>
  <td>close.bs.alert</td>
  <td>This event fires immediately when the <code>close</code> instance method is called.</td>
</tr>
<tr>
  <td>closed.bs.alert</td>
  <td>This event is fired when the alert has been closed (will wait for CSS transitions to complete).</td>
</tr>
