---
name: table-tbody-tr-td-63
---

<th><code>.hidden-sm</code>
</th>
<td class="is-visible">Visible</td>
<td class="is-hidden">Hidden</td>
<td class="is-visible">Visible</td>
<td class="is-visible">Visible</td>
