---
name: table-striped-tbody-tr-17
---

<tr>
  <td>affix.bs.affix</td>
  <td>This event fires immediately before the element has been affixed.</td>
</tr>
<tr>
  <td>affixed.bs.affix</td>
  <td>This event is fired after the element has been affixed.</td>
</tr>
<tr>
  <td>affix-top.bs.affix</td>
  <td>This event fires immediately before the element has been affixed-top.</td>
</tr>
<tr>
  <td>affixed-top.bs.affix</td>
  <td>This event is fired after the element has been affixed-top.</td>
</tr>
<tr>
  <td>affix-bottom.bs.affix</td>
  <td>This event fires immediately before the element has been affixed-bottom.</td>
</tr>
<tr>
  <td>affixed-bottom.bs.affix</td>
  <td>This event is fired after the element has been affixed-bottom.</td>
</tr>
