---
name: table-striped-tbody-tr-8
---

<tr>
  <td>show.bs.tooltip</td>
  <td>This event fires immediately when the <code>show</code> instance method is called.</td>
</tr>
<tr>
  <td>shown.bs.tooltip</td>
  <td>This event is fired when the tooltip has been made visible to the user (will wait for CSS transitions to complete).</td>
</tr>
<tr>
  <td>hide.bs.tooltip</td>
  <td>This event is fired immediately when the <code>hide</code> instance method has been called.</td>
</tr>
<tr>
  <td>hidden.bs.tooltip</td>
  <td>This event is fired when the tooltip has finished being hidden from the user (will wait for CSS transitions to complete).</td>
</tr>
