---
name: table-thead-12
---

<thead>
  <tr>
    <th style="width: 100px;">Name</th>
    <th style="width: 50px;">type</th>
    <th style="width: 50px;">default</th>
    <th>description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>parent</td>
    <td>selector</td>
    <td>false</td>
    <td>If selector then all collapsible elements under the specified parent will be closed when this collapsible item is shown. (similar to traditional accordion behavior - this dependent on the <code>panel</code> class)</td>
  </tr>
  <tr>
    <td>toggle</td>
    <td>boolean</td>
    <td>true</td>
    <td>Toggles the collapsible element on invocation</td>
  </tr>
</tbody>
