---
name: table-thead-15
---

<thead>
  <tr>
    <th style="width: 150px;">Event Type</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>slide.bs.carousel</td>
    <td>This event fires immediately when the <code>slide</code> instance method is invoked.</td>
  </tr>
  <tr>
    <td>slid.bs.carousel</td>
    <td>This event is fired when the carousel has completed its slide transition.</td>
  </tr>
</tbody>
