---
name: table-tbody-tr-td-64
---

<th><code>.hidden-md</code>
</th>
<td class="is-visible">Visible</td>
<td class="is-visible">Visible</td>
<td class="is-hidden">Hidden</td>
<td class="is-visible">Visible</td>
