---
name: table-tbody-tr-td-24
---

<td>delay</td>
<td>number | object</td>
<td>0</td>
<td>
  <p>delay showing and hiding the tooltip (ms) - does not apply to manual trigger type</p>
  <p>If a number is supplied, delay is applied to both hide/show</p>
  <p>Object structure is: <code>delay: { show: 500, hide: 100 }</code>
  </p>
</td>
