---
name: table-thead-16
---

<thead>
  <tr>
    <th style="width: 100px;">Name</th>
    <th style="width: 100px;">type</th>
    <th style="width: 50px;">default</th>
    <th>description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>offset</td>
    <td>number | function | object</td>
    <td>10</td>
    <td>Pixels to offset from screen when calculating position of scroll. If a single number is provided, the offset will be applied in both top and bottom directions. To provide a unique, bottom and top offset just provide an object <code>offset: { top: 10 }</code> or <code>offset: { top: 10, bottom: 5 }</code>.
      Use a function when you need to dynamically calculate an offset.</td>
  </tr>
</tbody>
