---
name: table-striped-tbody-tr-12
---

<tr>
  <td>parent</td>
  <td>selector</td>
  <td>false</td>
  <td>If selector then all collapsible elements under the specified parent will be closed when this collapsible item is shown. (similar to traditional accordion behavior - this dependent on the <code>panel</code> class)</td>
</tr>
<tr>
  <td>toggle</td>
  <td>boolean</td>
  <td>true</td>
  <td>Toggles the collapsible element on invocation</td>
</tr>
