---
name: table-thead-3
---

<thead>
  <tr>
    <th style="width: 150px;">Event Type</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>show.bs.dropdown</td>
    <td>This event fires immediately when the show instance method is called. The toggling anchor element is available as the <code>relatedTarget</code> property of the event.</td>
  </tr>
  <tr>
    <td>shown.bs.dropdown</td>
    <td>This event is fired when the dropdown has been made visible to the user (will wait for CSS transitions, to complete). The toggling anchor element is available as the <code>relatedTarget</code> property of the event.</td>
  </tr>
  <tr>
    <td>hide.bs.dropdown</td>
    <td>This event is fired immediately when the hide instance method has been called. The toggling anchor element is available as the <code>relatedTarget</code> property of the event.</td>
  </tr>
  <tr>
    <td>hidden.bs.dropdown</td>
    <td>This event is fired when the dropdown has finished being hidden from the user (will wait for CSS transitions, to complete). The toggling anchor element is available as the <code>relatedTarget</code> property of the event.</td>
  </tr>
</tbody>
