---
name: table-tbody-tr-td-38
---

<td>container</td>
<td>string | false</td>
<td>false</td>
<td>
  <p>Appends the popover to a specific element. Example: <code>container: 'body'</code>. This option is particularly useful in that it allows you to position the popover in the flow of the document near the triggering element - which will prevent the popover
    from floating away from the triggering element during a window resize.</p>
</td>
