---
name: table-thead-4
---

<thead>
  <tr>
    <th style="width: 100px;">Name</th>
    <th style="width: 100px;">type</th>
    <th style="width: 50px;">default</th>
    <th>description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>offset</td>
    <td>number</td>
    <td>10</td>
    <td>Pixels to offset from top when calculating position of scroll.</td>
  </tr>
</tbody>
