---
name: table-striped-tbody-tr-16
---

<tr>
  <td>offset</td>
  <td>number | function | object</td>
  <td>10</td>
  <td>Pixels to offset from screen when calculating position of scroll. If a single number is provided, the offset will be applied in both top and bottom directions. To provide a unique, bottom and top offset just provide an object <code>offset: { top: 10 }</code> or <code>offset: { top: 10, bottom: 5 }</code>.
    Use a function when you need to dynamically calculate an offset.</td>
</tr>
