---
name: table-tbody-tr-td-65
---

<th><code>.hidden-lg</code>
</th>
<td class="is-visible">Visible</td>
<td class="is-visible">Visible</td>
<td class="is-visible">Visible</td>
<td class="is-hidden">Hidden</td>
