---
name: carousel-inner-active
---

<div class="item active">
  <img data-src="holder.js/900x500/auto/#777:#555/text:First slide" alt="First slide">
</div>
<div class="item">
  <img data-src="holder.js/900x500/auto/#666:#444/text:Second slide" alt="Second slide">
</div>
<div class="item">
  <img data-src="holder.js/900x500/auto/#555:#333/text:Third slide" alt="Third slide">
</div>
